In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dta = pd.read_csv("julyToSeptember.csv")

d = dta["Debit Amount"].convert_objects(convert_numeric=True)

C:\Users\Carlos\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [52]:
d.fillna(1000)
db = d.abs()
db

0        6.79
1        2.20
2       39.50
3       10.00
4       11.90
5       26.63
6        0.15
7        5.32
8        1.00
9        0.95
10       7.65
11       1.05
12       4.40
13      30.00
14       1.08
15       4.35
16      13.60
17      19.60
18      10.00
19       9.80
20       5.84
21       5.00
22       5.00
23       0.30
24       4.75
25       7.93
26     236.20
27       9.70
28        NaN
29        NaN
        ...
211      1.00
212      0.15
213      5.31
214      5.40
215      0.65
216     38.95
217      5.40
218      0.75
219     35.00
220      7.25
221    150.00
222      0.60
223     32.40
224     20.00
225      5.00
226      2.16
227       NaN
228      5.00
229     17.10
230     18.30
231     10.00
232      8.80
233      5.64
234      1.45
235     40.00
236       NaN
237     32.40
238     14.90
239      9.25
240     16.99
Name: Debit Amount, dtype: float64

In [47]:
df = dta[["Transaction Description", "Debit Amount"]]
df;

In [48]:
#s = dta['Transaction Description'].size
s= len(dta['Transaction Description'])
x = np.arange(s) #(0, dSize, dSize, endpoint=True)#np.linspace(-np.pi, np.pi, 256, endpoint=True)

#plt.title('Money Average')
#plt.xlabel('Gastos')
#plt.ylabel('pasta')

plt.plot(x, db, 'yo-')
plt.show()