In [1]:
# In this exercise we'll load the titanic data (from Project 0)
# And then perform one-hot encoding on the feature names
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [30]:
# Load the dataset
X = pd.read_csv('titanic_data.csv')
# Limit to categorical data
X = X.select_dtypes(include=[object])
X.head() #X.tail()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [31]:
features = list(X.columns.values)
features

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [32]:
# TODO: Create a LabelEncoder object, which will turn all labels present in
#       in each feature to numbers. For example, the labels ['cat', 'dog', 'fish']
#       might be transformed into [0, 1, 2]
le = LabelEncoder()

In [37]:
# TODO: For each feature in X, apply the LabelEncoder's fit_transform
#       function, which will first learn the labels for the feature (fit)
#       and then change the labels to numbers (transform). 

le.fit(features);
le.transform(features)

#for feature in X:
#     X[feature] = None

array([2, 3, 4, 0, 1], dtype=int64)

In [41]:
# TODO: Create a OneHotEncoder object, which will create a feature for each
#       label present in the data. For example, for a feature 'animal' that had
#       the labels ['cat','dog','fish'], the new features (instead of 'animal') 
#       could be ['animal_cat', 'animal_dog', 'animal_fish']

ohe = None

In [ ]:
# TODO: Apply the OneHotEncoder's fit_transform function to all of X, which will
#       first learn of all the (now numerical) labels in the data (fit), and then
#       change the data to one-hot encoded entries (transform).

onehotlabels = None